/* 
    General Styles
*/
/* PersonajeDetalle.css */

.personaje-detalle {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ff0000;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.5);
}

.personaje-detalle h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #ff0000;
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.7);
}

.personaje-detalle p {
    font-size: 1em;
    line-height: 1.6;
    color: #fff;
}

.personaje-detalle p strong {
    color: #ff0000;
}

.personaje-detalle a {
    color: #ff0000;
    text-decoration: none;
}

.personaje-detalle a:hover {
    text-decoration: underline;
}
